
TP2/aclImdb/

TP2/MEN/

TP3/TP3.mp4

TP2/Mww.csv

TP2/Mww_scaled.csv

TP2/tp2_mat5_pmi.csv

TP2/tp2_mat5_ppmi.csv

TP2/tp2_mat5_scaled_pmi.csv

TP2/tp2_mat5_scaled_ppmi.csv

TP1/TP1.mp4

Project/Project_presentation.mp4

Project/data/

Project/seance2.mp4

Project/MS-MARCO/
